
a{
  color: inherit;
  text-decoration: none; /* no underline */
}
.wapper {
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-height: 90vh;
}

.card-class {
  max-width: 20rem;
}
